/* Jesus Eduardo Cardenas Ortega */

/* Ejercicio 1 */
p { color: blue; }
.destacado { background-color: lightyellow; }

/* Ejercicio 2 */
#foto-perfil {
  border: 2px dotted red;
}

/* Ejercicio 3 */
a[target="_blank"]::after {
  content: " 🔗";
}

/* Ejercicio 4 */
#experiencia p {
  font-size: 0.9em;
}