/*Jesus Eduardo Cardenas Ortega*/

*{
    box-sizing: border-box;
    margin: 20px;
    padding: 0px;

    body{
        font-family: Arial, sans-serif;
        background-color: #febf20;
        padding: 20px;
    }

   .caja{
    width: 200px;
    /* Altura automática según el contenido */
    background-color: lightblue;
    border: 8px solid rgba(102, 255, 0, 0.452);
    margin: 10px;
    padding: 10px;
    }

    /* Identificadores para personalizar cada caja */
    caja1 {
    border: 8px solid blue;

    }

    #caja2 {
    border: #203afe solid 8px;
    margin: 30px;
    padding: 5px;
    }

    #caja3 {
    border: #6e20fe solid 8px;
    margin: 10px;
    padding: 50px;
    }


}